@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --un-bg-opacity: 1;
    --un-text-opacity: 1;
    --card: 30 30 30;
    --border: 38 38 38;
    --primary: 235 186 123;
    --muted: 115 115 115;
    --radius: 0.5rem;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
    --font-size: calc(clamp(480px, 100vw, 767px) / (460 / 16));

    background-color: rgb(23 23 23 / var(--un-bg-opacity));
    color: rgb(212 212 212 / var(--un-text-opacity));
  }

  .dark {
    --background: rgb(23 23 23 / var(--un-bg-opacity));
    --card: 30 30 30;
    --color-1: 0 100% 63%;
    --color-2: 270 100% 63%;
    --color-3: 210 100% 63%;
    --color-4: 195 100% 63%;
    --color-5: 90 100% 63%;
  }

  .theme {
    --animate-aurora: aurora 8s ease-in-out infinite alternate;
  }

  * {
    @apply border-border;
  }

  body {
    @apply text-white;
    background: var(--background);
    background-size: cover;
    background-position: center;
    font-size: var(--font-size);
    font-family: Arial, sans-serif;
    font-feature-settings: "rlig" 1, "calt" 1;
    position: relative;
  }

  @keyframes aurora {
    0% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
    25% {
      background-position: 50% 100%;
      transform: rotate(5deg) scale(1.1);
    }
    50% {
      background-position: 100% 50%;
      transform: rotate(-3deg) scale(0.95);
    }
    75% {
      background-position: 50% 0%;
      transform: rotate(3deg) scale(1.05);
    }
    100% {
      background-position: 0% 50%;
      transform: rotate(-5deg) scale(0.9);
    }
  }

  .my-soul-regular {
    font-family: "Dank Mono", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 1.2;
  }
}
